*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
/Recursive_test/nbproject/private/
/Recursive_test/build/
/HorspoolStringMatcher/nbproject/private/
/HorspoolStringMatcher/build/
/HorspoolStringMatcher/dist/
/Recursive_test/dist/
/BST/nbproject/private/
/BST/build/
/RodCuttingDynamicProgramming/nbproject/private/
/RodCuttingDynamicProgramming/build/
/CoinCollectingDynamicProgramming/nbproject/private/
/CoinCollectingDynamicProgramming/build/
/CoinCollectingDynamicProgramming/dist/
/MaxHeap/nbproject/private/
/MaxHeap/build/
/BST/dist/
/WarShallAlgorithm/nbproject/private/
/WarShallAlgorithm/build/
/HopCount/nbproject/private/
/HopCount/build/
/HopCount/dist/
/Java_Generics/nbproject/private/
/Java_Generics/build/
/BagliListe/nbproject/private/
/BagliListe/build/
/BagliListe/dist/
/DoublylinkedListGeneric/nbproject/private/
/DoublyLinkedListNonGeneric/nbproject/private/
/DoublyLinkedListNonGeneric/build/
/Stack_/nbproject/private/
/HeapTreeEx/nbproject/private/
/HeapTreeEx/build/
/Hashing/nbproject/private/
/Hashing/build/